# Server
PORT=8000
NODE_ENV=production
CORS_ORIGIN=*

# Auth
JWT_SECRET=change_me
JWT_EXPIRES=1h

# Data
DATA_DIR=/data
DB_FILE=/data/app.db

# Tools
YT_DLP_BINARY=/usr/local/bin/yt-dlp
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
