# Server
PORT=8000
NODE_ENV=production
CORS_ORIGIN=*
# Auth
JWT_SECRET=change_me
JWT_EXPIRES=1h
# Tools
YT_DLP_BINARY=/usr/local/bin/yt-dlp
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
# AWS
AWS_REGION=ap-southeast-2
S3_BUCKET=cab432-a2-g57-videos
DDB_TABLE=app-main
# AWS_ACCESS_KEY_ID=...
# AWS_SECRET_ACCESS_KEY=...
S3_SIGNED_URL_TTL_SECONDS=900
AWS_PROFILE=cab432
QUT_USERNAME=n12138657@qut.edu.au
